@inherits LayoutComponentBase

<div>
    <div>
        <UserMenu />
    </div>

    <div>
        <NavMenu />
    </div>

    <div>
        @Body
    </div>


</div>



@*@inherits LayoutComponentBase

<div>
    <div>
        <UserMenu />
    </div>

    <div>
        <NavMenu />
    </div>

    <div>
        @Body
    </div>


</div>
*@