<div>
    <h1>DSRNetSchool</h1>
   
    <a href="/">Dashboard</a>
    <a href="/books">Books</a>
    <a href="/authors">Authors</a>
    <a href="/categories">Categories</a>
</div>



@*<div>
    <h1>DSRNetSchool</h1>

    <a href="/">Dashboard</a>
    <a href="/books">Books</a>
    <a href="/authors">Authors</a>
    <a href="/categories">Categories</a>
</div>*@